/* Root-Level Styles */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  padding: 20px;
}

/* Importing global styles */
@import './styles/global.css';

/* Optional Custom Root-Level Styles */
header {
  background-color: #007bff;
  color: white;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul, ol {
  list-style: none;
  padding-left: 0;
}
